{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<style>input[type=submit] {
  width: 15%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
</style>
<form action="/clear" > <!-- or method="post" -->
        <input type="submit" value="Clear" >
    </form>
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Value 1</th>
        <th>Value 2</th>
        <th>Result</th>
        <th>Operation</th>

      </tr>
    </thead>
    <tbody>
      {% for val in values %}
        <tr>
          <td>{{ val[0] }}</td>
          <td>{{ val[1] }}</td>
          <td>{{ val[2] }}</td>
          <td>{{ val[3][:-1] }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [

         ],
      });
    });
  </script>
{% endblock %}