{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Value 1</th>
        <th>Value 2</th>
        <th>Result</th>
        <th>Operation</th>

      </tr>
    </thead>
    <tbody>
      {% for val in values %}
        <tr>
          <td>{{ val[0] }}</td>
          <td>{{ val[1] }}</td>
          <td>{{ val[2] }}</td>
          <td>{{ val[3][:-1] }}</td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %}